<ion-header>
  <ion-toolbar>
    <ion-title>
      Personal Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="name" name="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Surname</ion-label>
      <ion-input [(ngModel)]="surname" name="surname" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input [(ngModel)]="phoneNumber" name="phoneNumber" type="tel" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender" name="gender" required>
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input [(ngModel)]="age" name="age" type="number" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" class="ion-margin-top">Submit</ion-button>
  </form>
</ion-content>
