<ion-header>
  <ion-toolbar>
    <ion-title>Help line </ion-title>
    <ion-icon routerLink="/home" name="arrow-back" slot="end" size="large"></ion-icon>
  </ion-toolbar>
  
</ion-header>

<ion-content>

<ion-card color="danger">help line(numbers)</ion-card>

<ion-grid>
  <ion-row>
    <ion-col>south African police</ion-col>
    <ion-col>10111</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>child line south africa</ion-col>
    <ion-col>0800055555</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>National counseling line</ion-col>
    <ion-col>0861322322</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>NAtional GBV Helpline</ion-col>
    <ion-col>0800150150</ion-col>
  </ion-row>

  <ion-row>
    <ion-col>Lagal Aid</ion-col>
    <ion-col>0800110110</ion-col>
  </ion-row>
</ion-grid>

<ion-row>
  <ion-col>Suicide Help</ion-col>
  <ion-col>0800567567</ion-col>
</ion-row>

</ion-content>
