*{
  margin:0;
  padding: 0;
}
.container{
  background-color: blue;
   display: flex;
   width: 55%;
   
   height: 40vh;
 
  border-radius: 10px;
  position: absolute;
  left: 20%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}
ion-grid{
  position: absolute;
  left: 20%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.emoji{
  height: 100px;

}