<ion-header>
  <ion-toolbar>
    <ion-title class="page-title">Terms and Conditions</ion-title>
    <ion-icon name="arrow-back-outline" slot="end" routerLink="/confess" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card  class="terms-card">
    <ion-card-content>
      <h2>Welcome to the Confessions Platform</h2>
      <p>By using this website, you agree to the following terms and conditions:</p>

      <h3>Confidentiality</h3>
      <p>Your confessions are anonymous, and no account is required.</p>

      <h3>Public Sharing</h3>
      <p>Confessions are public and can be viewed, commented on, and reacted to by other users.</p>

      <h3>User Conduct</h3>
      <p>We expect all users to adhere to the following guidelines:</p>
      <ul>
        <li>Respect other users and avoid hate speech or harassment.</li>
        <li>Refrain from sharing sensitive personal information about yourself or others.</li>
        <li>Do not use this platform for illegal activities or to promote harm.</li>
      </ul>

      <!-- Add other sections as needed -->

      <h3>Contact Information</h3>
      <p>If you have any questions or concerns, please contact us at <a href="mailto:21918798@mut.live.ac.za">21918798@mut.live.ac.za</a></p>

      <p>Last Updated: 2023/10/24 - 15:24pm</p>
    </ion-card-content>
  </ion-card>
</ion-content>
