<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Confessions
    </ion-title>
    <ion-menu-button menu="main-menu" slot="end"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card *ngFor="let confession of confessions">
  <ion-card-header>
    <ion-card-title>{{ confession.title }}</ion-card-title>
    <ion-card-subtitle>{{ confession.emotion }}</ion-card-subtitle>
    <ion-card-subtitle>{{ confession.timestamp?.toDate() | date: 'yyyy-MM-dd HH:mm a'}}</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    <ion-text color="dark">{{ confession.confessionBody }} </ion-text>
  </ion-card-content>
  
  <ion-item>
    <ion-label  (click)="passCommentsData(confession.confessionId)" >{{ confession.comments.length }} </ion-label>
    <ion-icon (click)="passCommentsData(confession.confessionId)" name="chatbubble-outline" slot="start"></ion-icon>
    <ion-label (click)="presentModal(confession.confessionId)" slot="end">react {{ confession.reactions?.length }}</ion-label>

  </ion-item>

  <div class="emoji-container">
    <div *ngFor="let emotion of emotions" class="emoji-item">
      <ion-button size="small" color="light" (click)="reactToConfession(emotion.label,confession.confessionId,confession.reactions[emotion.label])">
     
        <span class="emoji">{{ emotion.emoji }}</span>
        <ion-badge >{{ confession.reactions[emotion.label]}}</ion-badge>
      </ion-button>
    </div>
  </div>




</ion-card>



        




</ion-content>
