/* Container styling */
.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: -10px 5px 0 5px;
  }
  ion-title{
    //margin-left: .5%;
  }
  /* Ion-content background color */
  ion-content {
    --ion-background-color: #042c4c;
    /* You can choose one background color and remove the others */
    /* --ion-background-color: #048278; */
    /* --ion-background-color: #61e0ac; */
    /* --ion-background-color: #06cb8a; */
    /* --ion-background-color: #f9f3f2; */
  }
  
  /* Ion-toolbar background color */
  ion-toolbar {
    --ion-toolbar-background: #048278;
  }
  
  /* Container2 and centerImg styles */
  .container2, .centerImg {
    text-align: center;
  }
  
  /* Image styling */
  img {
    width: 170px;
    height: 169px;
  }
  
  /* Fieldset border radius */
  fieldset {
    border-radius: 10px;
  }
  
  /* Text color for select, label, and ion-input */
  .select, .label, ion-input {
    color: white;
  
  }
  
  /* Text color for textarea */
  .textarea , .checkBox {
    color: rgb(229, 229, 229);
  }
 
  .checkBox , .checkBox1{
    align-items: center;
    --border-color: #FF0000;
  }
  .checkBox1{
    margin-left: -15px;
    padding: 0;
  }
  .checkBoxcontainer {
    display:flex;
     font-size: 2px;
     align-items: center;
     }
  @media (max-width: 300px) {
    .checkBoxcontainer {
   display: grid;
    font-size: 2px;
    }
    .checkBox1{
    size: 114px;
    }
  }
