/* Header styling */
ion-header {
  --background: #007bff;
  color: #fff;
}

/* Center the title and icon text */
ion-title, ion-toolbar ion-icon {
  text-align: center;
  color: #fff;
}

/* Comment list styling */
ion-list ion-item {
  border-radius: 10px;
  margin: 10px;
  padding: 2px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

/* Spacing between items */
ion-list ion-item + ion-item {
  margin-top: 15px;
}

/* Styling for strong tag within comment items */
ion-label strong {
  color: #007bff;
  font-weight: bold;
}

/* Timestamp styling */
ion-label small {
  color: #f41515;
}

/* Comment footer styling */
ion-footer {
  --background: transparent !important;
}

/* Comment input field styling */
ion-textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 0;
  margin: 10px 0 0 0;
}

/* Submit button styling */
ion-button {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 12px;
  font-weight: bold;
  transition: background-color 0.3s;
}

ion-button[expand="full"] {
  width: 100%;
}

ion-button:hover {
  background-color: #0056b3;
}

/* Comment container styling */
.comment {
  --background: transparent !important;
  align-items: center;
}

/* Icon styling */
ion-icon {
  padding: 0;
  margin: 0;
}

ion-icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
  color: #007bff;
}

/* Toolbar styling */
ion-toolbar {
  --ion-background: #042c4c;
}

/* Comment item styling */
.comment {
  --ion-background: #042c4c;
}

/* Card styling */
ion-card {
  font-weight: bold;
  font-size: large;
  text-wrap: wrap;
  color: #ccc;
  padding: 0; /* You can specify the desired padding value */
}

/* Comment label styling */
.comment-label {
  color: #ebebeb;
}
